.home {
	min-height: 100%;
	width: 100%;
}

.citecard {
  width: 100%;
  min-width: 100%;
}

.fullbtn {
  width: 100%;
  height: 100%;
}

.sanemargin {
  margin: 0.25em;
}

.biggermargin {
  margin: 1em;
}

.headerbar {
  margin-bottom: 5em;
}

.footnote {
  font-weight: lighter;
  font-size: 0.75em;
}
