<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <h3>Ad-free and lag-free, powered by you.</h3>
</div>

<div style="padding:2em;">

  <div style="width:60%; margin:auto; padding:0.5em 2em 0.75em 2em; background-color:#DDDDDD">
    <h3 style="margin-bottom:0.5em;">Autocite here:</h3>
    <app-cite-handler></app-cite-handler>
  </div>
  <h2 style="text-align:center">or</h2>

  <div style="width:60%; margin:auto; padding:0.5em 2em 0.75em 2em; background-color:#DDDDDD">
    <h2 style="text-align:center;margin-bottom:0.5em;">Cite it yourself!</h2>
    <app-form-handler></app-form-handler>
  </div>

</div>
