h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 5em;
	font-weight: lighter;
	color: #444444;
	margin-top:0.75em;
}

h2 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 2.0em;
        font-weight: lighter;
        color: #444444;
}

h3 {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 1.5em;
        font-weight: lighter;
        color: #444444;
}
